<main-template template-title="Mon Compte">
    <md-card class="contact-card content-wrapper">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Changer de mot de passe</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <form class="form" name="form" ng-submit="changePassword(form)" novalidate>
                <md-input-container class="md-block">
                    <label>Current Password</label>
                    <input type="password" name="password" class="form-control" ng-model="user.oldPassword" mongoose-error/>
                    <p class="help-block" ng-show="form.password.$error.mongoose">
                        {{ errors.other }}
                    </p>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>New Password</label>
                    <input type="password" name="newPassword" class="form-control" ng-model="user.newPassword" ng-minlength="3" required/>
                    <p class="help-block" ng-show="(form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || submitted)">
                        Password must be at least 3 characters.
                    </p>
                </md-input-container>
                <p class="help-block"> {{ message }} </p>
                <md-button class="md-raised" type="submit">Save changes</md-button>
            </form>
        </md-card-content>
    </md-card>
</main-template>
