<div id="header" layout="row" layout-align="center start">
    <div flex layout="row" layout-xs="column" class="layout-max-width" layout-align-gt-xs="space-between start" layout-align="center center">
        <div class="header-left">
            <img id="logo" class="mv10" ui-sref="main" src="assets/images/logo.png">
        </div>

        <div class="header-right" layout="column">
            <div layout="row">
                <md-button flex="50" class="md-raised md-primary no-radius m0" ui-sref="bibliography">Bibliographie</md-button>
                <md-button flex="50" class="md-raised md-primary no-radius m0 ml10" ui-sref="actualities">Actualités</md-button>
            </div>
            <md-button class="md-raised md-accent m0 mt10" ui-sref="submit_diet">
                <span class="btn-txt-icon">+</span> Proposer un régime
            </md-button>
        </div>
    </div>
</div>