<div layout="row" layout-align="center start">
    <div layout="row" flex class="layout-max-width" layout-align="space-between center">
        <div flex="30" class="md-padding left">Left</div>
        <div flex="30" class="md-padding center">Center</div>
        <div flex="30" class="md-padding right">        
			<md-button ui-sref="bibliography">Bibliographie</md-button>
			<md-button ui-sref="actualities">Actualités</md-button>
        	<md-button ui-sref="submit_diet">Proposer un régime</md-button>
        </div>
    </div>
</div>
