<footer>
    <div layout="row" layout-align="center start" class="bg1">
        <div layout-gt-xs="row" layout="column" flex class="layout-max-width" layout-align="space-between center">
            <div flex="30" class="md-padding left">Réalisation graphique : comessence.net</div>
            <div flex="30" class="md-padding center">Copyright @ 2016 www.dideroteducation.com</div>
            <div flex="30" flex-xs="100" class="md-padding right" layout="row" layout-align="end center">
            	<a ui-sref="main">Accueil</a><span class="dot-separator">.</span>
            	<a ui-sref="legal">Mentions Légales</a><span class="dot-separator">.</span>
            	<a ui-sref="contact">Contact</a>
            </div>
        </div>
    </div>
</footer>