.layout-max-width {
  width: 100%;
  max-width: 1200px;
}

.main {
  min-height: calc(100vh - 48px);
}

.bg1{
  background:#811da7;
}

.color1{
  color:#811da7;
}

.bg2{
  background: #4aac09;
}

.color2{
  color: #4aac09;
}

.color3{
  color:#fff;
}

.errorColor{
  color: #DD2C00;
}

.center{
	text-align: center;
}

.left{
	text-align: left;
}

.right{
	text-align: right;
}

.no-radius{
  border-radius: 0;
}

.btn-txt-icon{
  margin:0 10px;
  font-size:20px;
}

.mr0{
  margin-right:0;
}

.ml0{
  margin-left:0;
}

.mt0{
  margin-top:0;
}

.mb0{
  margin-bottom:0;
}

.mv10{
  margin-top:10px;
  margin-bottom:10px;
}

.mh10{
  margin-left:10px;
  margin-right:10px; 
}

.w100{
  width:100%;
}
