<md-toolbar layout="row" layout-align="center center">
    <div layout-gt-xs="row" layout="column" flex class="layout-max-width" layout-align="space-around center">
        <div flex="30" class="left">
            <md-button ui-sref="diets({type : 'slimming'})">Régimes amincissants</md-button>
        </div>
        <div flex="30" class="center">
            <md-button ui-sref="diets({type : 'health'})">Régimes santé</md-button>
        </div>
        <div flex="30" class="right">
            <md-button ui-sref="clinics">Clinique de la nutrition</md-button>            
        </div>
    </div>
</md-toolbar>
