<md-toolbar layout="row" layout-align="center start">
    <div layout="row" flex class="layout-max-width" layout-align="space-around center">
        <div flex="30" class="md-padding left">
            <md-button ui-sref="diets({type : 'slimming'})">Régimes amincissants</md-button>
        </div>
        <div flex="30" class="md-padding center">
            <md-button ui-sref="diets({type : 'health'})">Régimes santé</md-button>
        </div>
        <div flex="30" class="md-padding right">
            <md-button ui-sref="clinics">Clinique de la nutrition</md-button>            
        </div>
    </div>
</md-toolbar>
