<div class="bg1 color3 center" layout-padding>
    <h3>Donnez votre opinion</h3>
    <div class="compute-block" layout-padding>
        <div layout="column">
            <form id="opinionForm" ng-submit="diet.submitOpinion(opinion)" name="opinion" novalidate ng-if="diet.rated !== true">
                <p class="description">Que pensez-vous de ce régime ?</p>
                <md-divider></md-divider>
                <div>
                    <label>Adaptabilité</label>
                    <md-radio-group name="adaptability" ng-model="diet.opinion.adaptability" layout="row" layout-align="space-around" required>
                        <md-radio-button value="0">Mauvais</md-radio-button>
                        <md-radio-button value="1">Bon</md-radio-button>
                        <md-radio-button value="2">Très bon</md-radio-button>
                    </md-radio-group>
                </div>
                <div>
                    <label layout-padding>Efficacité</label>
                    <md-radio-group ng-model="diet.opinion.efficiency" layout="row" layout-align="space-around" required>
                        <md-radio-button value="0">Mauvais</md-radio-button>
                        <md-radio-button value="1">Bon</md-radio-button>
                        <md-radio-button value="2">Très bon</md-radio-button>
                    </md-radio-group>
                </div>
                <div>
                    <label layout-padding>Impact santé</label>
                    <md-radio-group ng-model="diet.opinion.impact" layout="row" layout-align="space-around" required>
                        <md-radio-button value="0">Mauvais</md-radio-button>
                        <md-radio-button value="1">Bon</md-radio-button>
                        <md-radio-button value="2">Très bon</md-radio-button>
                    </md-radio-group>
                </div>
                <div>
                    <label layout-padding>Coût</label>
                    <md-radio-group ng-model="diet.opinion.cost" layout="row" layout-align="space-around" required>
                        <md-radio-button value="0">Mauvais</md-radio-button>
                        <md-radio-button value="1">Bon</md-radio-button>
                        <md-radio-button value="2">Très bon</md-radio-button>
                    </md-radio-group>
                </div>
                <div ng-if="opinion.$submitted && !opinion.$valid">
                    <label>Veuillez rensigner tous les champs.</label>
                </div>
                <md-divider></md-divider>
                <md-button ng-disabled="!opinion.$valid" flex class="md-raised md-primary" type="submit">Afficher les résultats</md-button>
            </form>
            <div ng-if="diet.rated === true">
                <label>Adaptabilité</label>
                <md-slider-container ng-disabled="true">                    
                    <md-slider flex min="0" max="2" ng-model="diet.average.adaptability" aria-label="Adaptabilité" ng-readonly="readonly">
                    </md-slider>
                </md-slider-container>
                <label>Efficacité</label>
                <md-slider-container ng-disabled="true">                    
                    <md-slider flex min="0" max="2" ng-model="diet.average.efficiency" aria-label="Efficacité" ng-readonly="readonly">
                    </md-slider>
                </md-slider-container>
                <label>Impact santé</label>
                <md-slider-container ng-disabled="true">                    
                    <md-slider flex min="0" max="2" ng-model="diet.average.impact" aria-label="Impact santé" ng-readonly="readonly">
                    </md-slider>
                </md-slider-container>
                <label>Coût</label>
                <md-slider-container ng-disabled="true">                    
                    <md-slider flex min="0" max="2" ng-model="diet.average.cost" aria-label="Coût" ng-readonly="readonly">
                    </md-slider>
                </md-slider-container>
            </div>
        </div>
    </div>
</div>
