.actuality-wrapper{
	min-height:280px;	
}

.actuality-title{
	font-family:Oswald;
	color:#535054;
	font-size:20px;
	font-weight: 400;
}
.actuality-date{
	color:#a3a3a3;
	font-size:14px;
	font-family: arial;
}

.acutality-poster{
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border-left:5px solid #4aac09;
}

.actuality-content{
	text-align: justify;
}