<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" ng-if="isLoggedIn()">
    <md-toolbar class="md-tall">
        <h2 id="sidenav-title" class="center">Administration</h2>
       <md-button ui-sref="main">Retour au site</md-button>
    </md-toolbar>
    <md-content>
        <md-list flex>
            <md-list-item ui-sref="admin.user" ng-if="isAdmin()">
                <md-icon md-svg-icon="action:face" class="md-avatar-icon"></md-icon>
                <div class="md-list-item-text" flex>
                    Utilisateurs
                </div>
            </md-list-item>
            <md-list-item ui-sref="admin.actuality" ng-if="isAdmin()">
                <md-icon md-svg-icon="av:library_books" class="md-avatar-icon"></md-icon>
                <div class="md-list-item-text" flex>
                    Actualités
                </div>
            </md-list-item>
            <md-list-item ui-sref="admin.video" ng-if="isAdmin()">
                <md-icon md-svg-icon="av:library_books" class="md-avatar-icon"></md-icon>
                <div class="md-list-item-text" flex>
                    Vidéos
                </div>
            </md-list-item>
            <md-list-item ui-sref="admin.diet" ng-if="isAdmin()">
                <md-icon md-svg-icon="av:library_books" class="md-avatar-icon"></md-icon>
                <div class="md-list-item-text" flex>
                    Régimes
                </div>
            </md-list-item>
            <md-list-item ui-sref="admin.clinic" ng-if="isAdmin()">
                <md-icon md-svg-icon="av:library_books" class="md-avatar-icon"></md-icon>
                <div class="md-list-item-text" flex>
                    Cliniques
                </div>
            </md-list-item>
        </md-list>
    </md-content>
    </md-content>
</md-sidenav>
