<main-template template-title="Bibliographie">
    <md-card flex-gt-sm="50" class="contact-card content-wrapper">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Contactez-nous</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <form name="form" ng-submit="contact(form)" novalidate>
                <md-input-container class="md-block">
                    <label>Nom</label>
                    <md-icon class="material-icons">person</md-icon>
                    <input required type="text" name="name" ng-model="message.name">
                    <div ng-messages="form.email.$error">
                        <div ng-message="required">This is required.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Email</label>
                    <md-icon md-svg-src="communication:email" class="name"></md-icon>
                    <input required type="email" name="email" ng-model="message.email">
                    <div ng-messages="form.email.$error">
                        <div ng-message="required">This is required.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Votre message</label>
                    <md-icon md-svg-src="communication:message" class="name"></md-icon>
                    <textarea ng-model="message.content" md-maxlength="2000" rows="5" md-select-on-focus></textarea>
                </md-input-container>
                <div layout="row" layout-align="end center">
                    <md-button class="md-primary" type="submit" ng-if="response.status != 200">
                        Envoyer
                    </md-button>
                    <p ng-if="response.message != null">{{response.message}}</p>
                </div>
            </form>
        </md-card-content>
    </md-card>
</main-template>