<md-dialog aria-label="Nouveau">
    <form name="createForm" ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-icon="navigation:close" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                
                    <md-input-container class="md-block" flex-gt-sm>
                        
                            <label>Nom</label>
                            <input ng-model="user.name" type="text" required="true">
                        
                    </md-input-container>
                
                    <md-input-container class="md-block" flex-gt-sm>
                        
                            <label>Email</label>
                            <input ng-model="user.email" type="email" required="true">
                        
                    </md-input-container>
                
                    <md-input-container class="md-block" flex-gt-sm>
                        
                            <label>Mot de passe</label>
                            <input ng-model="user.password" type="text" required="true">
                        
                    </md-input-container>
                
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button type="submit" ng-click="addUser()">
                Ajouter
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
